@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html {
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
  color: olive;
}

nav {
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: #1b1b31;
  color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
}

/* nav ul {
    list-style: none;
} */

#lista {
  list-style: none;
  margin: 100px;
}

#lista li {
  margin: 20px;
}

a {
  color: #0a0a0a;
}

a:hover {
  color: #f5f5f5;
  background-color: #0a0a0a;
}

#linkFoto:hover {
  background-color: white;
}

img {
  max-width: 280px;
  height: auto;
}

#galeria {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

figcaption {
  text-align: left;
}

@media (max-width: 650px) {
  #galeria {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  font-size: 0.75em;
}

* {
  background-color: antiquewhite;
}
